meta(charset='UTF-8')
title=page.title || siteName
meta(name='description' content=page.description || description)
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(property="og:type" content=page.type || "article")
meta(property="og:locale" content="ja_JP")
meta(property="og:site_name" content=siteName)
meta(property="og:title" content=page.title || title)
meta(property="og:description" content=page.description || description)
meta(property="og:image" content=page.image || image)
